body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
     url("https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-size: cover;
}
.cover-container {
    max-width: 60vw;
}
.margin-top {
    margin-top: 9vh;
}
nav a{
    color: white !important;
    transition: all .4s ease-in;
}
nav a:hover{
    border-bottom:1px solid gray ;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}

.content {
    font-size: 14px;
}